<app-header></app-header>

<!-- Options -->
<div class="mt-10">
    <ul class="flex flex-row mx-auto font-medium w-56">
        <li class="flex flex-col items-center border border-2 rounded-l-lg p-1 w-full cursor-pointer font-medium text-[#606060] hover:bg-gray-200"
            [routerLink]="['/']" 
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="border-[#1797ff] text-[#1797ff]">
            All
        </li>
        <li class="flex flex-col items-center p-1 w-full border border-2 rounded-r-lg cursor-pointer font-medium text-[#606060] hover:bg-gray-200"
            [routerLink]="['/my-favs']" routerLinkActive="border-[#1797ff] text-[#1797ff]">
            My Faves
        </li>
    </ul>
</div>
<div class="main-content">
    <!-- main-content flex h-screen -->
    <div class="mx-32 py-5 xl:mx-80">
        <!-- Dropdown list -->
        <router-outlet></router-outlet>
    </div>
</div>